@model CreatePostViewModel
@{
    ViewBag.Title = "New Post";
}

<form asp-action="Create">
    <div class="row">
        <div class="col-md-8 mb-3">
            @* <label asp-for="Title" class="form-label"></label> *@
            <input asp-for="Title" class="form-control" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            @* <label asp-for="CategoryId" class="form-label"></label> *@
            <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.Categories">
                <option value="">Select a Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        @* <label asp-for="Content" class="form-label"></label> *@
        <textarea asp-for="Content" class="form-control" placeholder="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div>
        <button class="btn btn-primary">Submit</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/vm5ntbjh60njz0rp9q64apkvaiy0ope9pdzjhol4nxnnf5bh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'code anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}